<div class="row">
  <div class="col-12 logo">
    <%= image_tag "logo.png", alt: "Logo" %>
  </div>
</div>
<div class="row">
  <div class="navi col-12">
    <div class="nav-box">
      <%= link_to "Iniciar sesion", login_path %>
      |
      <%= link_to "Registrate", signup_path %>
    </div>
  </div>
</div>
<div class="row right-txt">
  <div class="col-12">
    <p>Concentrate en los pacientes.</p>
    <p>Nosotros nos encargamos del resto.</p>
  </div>
</div>
<!-- ==================== login code =============== -->
<div class="login-container">
  <div class="supp-lightbox">
    <div class="wrapper">
      <div class="row">
        <% flash.each do |name, msg| %>
          <div class="row">
            <div class="col-12">
              <div class= "alert">
                <button type="button" class="close">x</button>
                <%= msg %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="col-12">
          <h2>
            Por favor, ingresa tus datos.
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= form_tag sessions_path do %>
            <div class="form-field">
              <%= label_tag :mail, "Correo" %><br />
              <%= text_field_tag :mail, params[:mail] %>
            </div>
            <div class="form-field">
              <%= label_tag :password, "Contraseña" %><br />
              <%= password_field_tag :password %>
            </div>
            <div class="actions"><%= submit_tag "Iniciar sesion" %></div>
          <% end %>
          <div class="msg">
            <p> No tienes cuenta? <%= link_to "¡Registrate ahora!", signup_path %></p>
          </div>
          <div class="go-back">
            <%=link_to "Regresar al incio", root_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
