<div class="login-container">
  <div class="supp-lightbox">
    <div class="wrapper">
      <% flash.each do |name, msg| %>
          <div class="row">
            <div class="col-12">
              <div class= "alert">
                <button type="button" class="close">x</button>
                <%= msg %>
              </div>
            </div>
          </div>
        <% end %>
      <div class="row">
        <div class="col-12">
          <h2>
            Ingrese la informacion de su asistente.
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= form_for @assistant, class: "no-margin" do |f| %>
            <div class="form-field">
            <%= f.label :name, "Nombre" %><br />
            <%= f.text_field :name, class:"input-block" %>
          </div>
          <div class="form-field">
            <%= f.label :mail, "Correo" %><br />
            <%= f.text_field :mail, class:"input-block"  %>
          </div>
          <div class="form-field">
            <%= f.label :password, "Contraseña" %><br />
            <%= f.password_field :password, class:"input-block"  %>
          </div>
          <div class="form-field">
            <%= f.label :password_confirmation, "Confirmacion de contraseña" %><br />
            <%= f.password_field :password_confirmation, class:"input-block"  %>
          </div>
          <div class="actions">
            <%= f.submit "Enviar" %>
          </div>
        <% end %>
          <div class="go-back">
            <%=link_to "Atras", root_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

