<div class="row">
  <div class="col-12 logo">
    <%= image_tag "logo.png", alt: "Logo" %>
  </div>
</div>
<div class="row">
  <div class="navi col-12">
    <div class="nav-box">
      <%= link_to "Iniciar sesion", login_path %>
      |
      <%= link_to "Registrate", signup_path %>
    </div>
  </div>
</div>
<div class="row right-txt">
  <div class="col-12">
    <p>Concentrate en los pacientes.</p>
    <p>Nosotros nos encargamos del resto.</p>
  </div>
</div>
<!-- ==================== signup code =============== -->
<div class="login-container">
    <div class="supp-lightbox">
      <div class="wrapper">
        <div class="row">
          <div class="col-12">
            <h2>
              ¡Bienvenido! <br />
              Ingresa tu informacion.
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= form_for @user, class: "no-margin" do |f| %>
              <div class="form-field">
                <%= f.label :name, "Nombre" %><br />
                <%= f.text_field :name, class:"input-block" %>
              </div>
              <div class="form-field">
                <%= f.label :mail, "Correo" %><br />
                <%= f.text_field :mail, class:"input-block"  %>
              </div>
              <div class="form-field">
                <%= f.label :password, "Contraseña" %><br />
                <%= f.password_field :password, class:"input-block"  %>
              </div>
              <div class="form-field">
                <%= f.label :password_confirmation, "Confirmacion de contraseña" %><br />
                <%= f.password_field :password_confirmation, class:"input-block"  %>
              </div>
              <div class="actions">
                <%= f.submit "Registrar" %>
              </div>
            <% end %>
            <div class="go-back">
              <%=link_to "Regresar al inicio", root_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

