<div class="row">
  <div class="col-12 text-center pepito3">
    <h2>Detalles de la cita</h2>
    <div class="row">
      <% if is_doctor %>
        <p class="col-12">
          <%= link_to "Editar", edit_cita_path(@cita) %>
        </p>
        <p class="col-12">
        <%= link_to "Agregar articulo prescrito", new_cita_articulosprescrito_path(@cita) %>
        </p>
      <% end %>
      <div class="col-3 text-center pepito2">
          <%= @todo.nombre %> <%= @todo.apellido %>
      </div>
      <div class="col-3 text-center pepito2">
        Fecha: <%= @cita.fecha %>
      </div>
      <div class="col-2 text-center pepito2">
        Edad: <%= @cita.edad_actual %>
      </div>
      <div class="col-2 text-center pepito2">
        Peso: <%= @cita.peso_actual %>
      </div>
      <div class="col-2 text-center pepito2">
        Altura: <%= @cita.altura_actual %>
      </div>
      <div class="col-12 text-center pepito2">
        <h4>Comentarios</h4>
        <p> <%= @cita.comentario %> </p>
      </div>
      <div class="row">
        <div class="col-12 text-center pepito">
          <h4>Prescripciones:</h4>
          <div class="col-12">
            <ul class="unstyled">
              <% @articulos.each do |pad| %>
                <li>
                <p class="col-4"><b><%= pad.nombre %></b></p>
                <p class="col-3"><b>Cantidad:</b> <%= pad.cantidad %></p>
                <p class="col-5"><b>Frecuencia:</b> <%= pad.frecuencia %></p>
                </li>
                <hr />
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
