<!DOCTYPE html>
<html>
<head>
  <title>Equipo Rojo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- You better not move this -->
  <div class="panels">
    <div class="panel panel-inverse panel-left">
    </div>
  </div>
  <!-- Seriously don't move the code above -->
  <div class="panel-content">
    <!-- ====================================== -->
    <% if !current_user %>
      <div class="doc-bg">
      <!-- All your content goes here -->
      <!-- ================= AQUI VA EL NAVBAR ================-->
    <% else %>
      <div>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <a href="#menu" class="menu-trigger meteocon" data-meteocon="M" data-toggle="panel" data-target="#menu"></a>
              <div class="nav-collapse collapse">
                <nav id="menu">
                  <ul class="nav">
                    <li><%=link_to "Equipo RED", root_path, class:"brand logo-small" %></li>
                    <li><p class="navbar-text"><b>
                          <% if is_doctor %>
                            Dr.
                          <% end %>
                          <%= current_user.name %>
                        </b></p>
                    </li>
                    <li class="divider"></li>
                    <% if is_doctor %>
                      <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pacientes<b class="caret bottom-up"></b></a>
                      <ul class="dropdown-menu bottom-up pull-right">
                        <li><%= link_to "Agregar paciente", new_paciente_path %></li>
                        <li><%= link_to "Pacientes no vacunados", pacientes_novacunados_path %></li>
                      </ul>
                      </li>
                    <% end %>
                    <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Citas<b class="caret bottom-up"></b></a>
                    <ul class="dropdown-menu bottom-up pull-right">
                      <li><%= link_to "Nueva Cita", new_cita_path %>
                      <li class="divider"></li>
                      <li><%= link_to "Citas Futuras", citas_path %></li>
                    </ul>
                    </li>
                    <% if is_doctor %>
                      <li><%= link_to "Agregar asistente", new_assistant_path %></li>
                    <% end %>
                    <li><%= link_to "Cerrar sesion", logout_path %></li>
                  </ul>
                  <%= form_tag pacientes_path, method: 'get', class: "navbar-form pull-right search-navbar-form" do %>
                    <div class="form-fields">
                      <%= text_field_tag :search, params[:search], placeholder: "Busca pacientes" %>
                    </div>
                    <%= submit_tag "Buscar", name: nil,  class: "btn btn-info" %>
                  <% end %>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ================= AQUI VA EL NAVBAR ================-->
      <% end %>
        <% flash.each do |name, msg| %>
          <div class="row">
            <div class="col-12">
              <div class= "alert">
                <button type="button" class="close">x</button>
                <%= msg %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="wrapper">
          <%= yield %>
        </div>
      <!-- ====================================== -->
    </div>
</body>
</html>
